
@{
    ViewBag.Title = "index";
}

<h1>Change Address Webpage</h1>

<p>
    This is the "official" website of changing your address for the "DMV".
</p>

<h3>Links</h3>

<ul>
    <li>@Html.ActionLink("Change Address Form", "Add")</li>
    <li>@Html.ActionLink("View Pending Forms", "List")</li>
</ul>
